In [7]:
import sqlite3
import pandas as pd

conn = sqlite3.connect(':memory:')
c = conn.cursor()

c.execute('''CREATE TABLE IF NOT EXISTS stocks
             (date text, trans text, symbol text, qty real, price real)''')

c.execute("INSERT INTO stocks VALUES ('2023-04-01','BUY','RHAT',100,35.14)")
conn.commit()

c.execute('SELECT * FROM stocks')
print(c.fetchall())

c.execute('SELECT symbol, AVG(price) FROM stocks GROUP BY symbol')
print(c.fetchall())

df = pd.read_sql_query("SELECT * from stocks where trans == 'BUY' ", conn)
print(df)

conn.close()

[('2023-04-01', 'BUY', 'RHAT', 100.0, 35.14)]
[('RHAT', 35.14)]
         date trans symbol    qty  price
0  2023-04-01   BUY   RHAT  100.0  35.14